<!DOCTYPE html>
<html>

<head>
    <!--Metas-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Desenvolvimento Web, Desenvolvedor Web, Websites, Sites, Aplicativos, Plataforma de Sites, Sistemas, Aplicacoes Web">
    <meta name="description" content="Fornecemos o melhor desenvolvimento web para agências e designers autônomos.">
    <meta name="author" content="Kreato Desenvolvimento Web">

    <meta property="og:url" content="http://www.kreato.com.br" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kreato Desenvolvimento Web" />
    <meta property="og:description" content="Fornecemos o melhor desenvolvimento web para agências e designers autônomos." />
    <meta property="og:image" content="http://www.kreato.com.br/.static/images/opngrph-image.png" />

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />

    <!--Import font-awesome.css-->
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" media="screen,projection" />

    <!--Import whhg.css-->
    <link type="text/css" rel="stylesheet" href="/css/whhg.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <!--Google Site Verification-->
    <meta name="google-site-verification" content="GkO_AAba6KPCXTU4ba5Pk3vS72i-THlbsEi-8qW3heY" />

    <title>Kreato Desenvolvimento Web</title>
</head>

<body>
    <div id="full-container">
        <x-include template="header"></x-include>

        <div id="content"></div>

        <x-include template="footer"></x-include>
    </div>

    <!--  Scripts-->
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/bin/materialize.min.js"></script>
    <!-- <script type="text/javascript" src="/js/responsiveslides.min.js"></script> -->
    <script type="text/javascript" src="/js/parallax.min.js"></script>
    <script type="text/javascript" src="/js/nprogress.js"></script>
    <script type="text/javascript" src="/js/turbolinks.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>

    <script data-plift-script="disable turbolink eval">
        $('script').attr('data-turbolinks-eval', 'false');
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/577bda3354643ccb0bd8bd4e/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>
