
<div id="historia" class="section scrollspy first grey-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <p class="big-text bigger constrained">Buscando fornecer o melhor serviço de desenvolvimento web possível, avaliamos as plataformas disponíveis no mercado para criação de sites e aplicativos web, como Wordpress, Joomla, Drupal, entre outros. Infelizmente nenhuma delas atendiam aos seguintes critérios:</p>
            </div>
        </div>
        <div class="row no-margin-bot">
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Multi Tenancy</span>
                        <p>Ser capaz de oferecer um serviço web para atender a múltiplos clientes. Plataformas que não atendem este modelo precisam ser instaladas em ambientes diferentes para cada cliente, ou seja, cada site é uma nova hospedagem a ser gerenciada com todos custos e tarefas atribuídas. Fica claro que a medida que cresce o número de clientes, torna-se inviável o gerenciamento de tantas hospedagens diferentes. <a href="https://en.wikipedia.org/wiki/Multitenancy" target="_blank" title="Multi Tenancy">Saiba mais</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Banco de Dados Flexível</span>
                        <p>Oferecer uma maneira simples e flexível para criar novas modelagens de dados que possam atender necessidades específicas de um projeto. <a href="https://en.wikipedia.org/wiki/Entity%E2%80%93attribute%E2%80%93value_model" target="_blank" title="EAV">Saiba mais</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Template Seguro</span>
                        <p>Códigos de programação inseridos nos templates não podem ter acesso a recursos que botem os sites ou a plataforma em risco.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Plugin Free</span>
                        <p>Deve oferecer todos recursos necessários para criação de websites sem a necessidade da instalação de plugins de terceiros, principal fonte de vulnerabilidade e incompatibilidade.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Imparcial</span>
                        <p>Não deve ser construída para tipos específicos de websites, como Blogs, E-Commerce, entre outros. Tais funcionalidades devem ser fornecidas através de módulos.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">White Label</span>
                        <p>Deve possibilitar a substituição das logomarcas da plataforma pelas das agências ou até mesmo pelas dos clientes. <a href="https://en.wikipedia.org/wiki/White-label_product" target="_blank" title="White Label">Saiba mais</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p class="big-text bigger constrained no-margin-bot">Por isso, nos motivamos e criamos a <strong>Plataforma Kreato</strong>, que além de atender a todos critérios, também incorporou as melhores idéias entre as soluções que avaliamos.</p>
            </div>
        </div>
    </div>
</div>
