<div id="hospedagem" class="section scrollspy" data-parallax="scroll" data-speed="0.65" data-image-src="/images/cloud-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1 class="super-title center">
                    A hospedagem perfeita,
                    <br>
                    <span>no melhor datacenter do mundo</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p class="big-text constrained">Nosso datacenter foi projetado para atender as necessidades específicas de nossa plataforma. A administração é realizada pelos próprios criadores, com especializações não apenas em desenvolvimento web, mas também em infra-estrutura de rede e segurança. Entre as principais características de nosso datacenter estão:</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4 center">
                <i class="icon-amazon"></i>
                <h2 class="subtitle grey-text text-darken-2">Datacenter Amazon / SP</h2>
                <p class="big-text">Escolhemos o melhor fornecedor de servidores do mundo e utilizamos o seu datacenter de São Paulo, pois tem o melhor tempo de resposta para nossos clientes e parceiros brasileiros.</p>
            </div>
            <div class="col s12 l4 center">
                <i class="icon-branch"></i>
                <h2 class="subtitle grey-text text-darken-2">Content Delivery Network</h2>
                <p class="big-text">Apesar dos servidores estarem nos datacenters da Amazon em São Paulo, todos arquivos estáticos que compõem o website são replicados em servidores ao redor do mundo. Assim garantimos rapidez no carregamento independente da localização do visitante.</p>
            </div>
            <div class="col s12 l4 center">
                <i class="icon-servers"></i>
                <h2 class="subtitle grey-text text-darken-2">Redundância dos Serviços</h2>
                <p class="big-text">Além de contarmos com múltiplos servidores, eles estão distribuídos em áreas físicas diferentes da região de São Paulo (chamadas <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html" target="_blank" title="Availability Zones">Availability Zones</a>). Ou seja, é virtualmente impossível a plataforma sair do ar.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 center">
                <i class="icon-bandwidth"></i>
                <h2 class="subtitle grey-text text-darken-2">Máxima Performance</h2>
                <p class="big-text">Tudo que compõem a plataforma (software, servidores, infraestrutura de rede, <a href="https://pt.wikipedia.org/wiki/Cache" target="_blank" title="Cache">cache</a>, arquivos dos sites, etc) foram projetados e são constantemente monitorados e otimizados para que os sites carreguem em um piscar de olhos.</p>
            </div>
            <div class="col s12 m6 center">
                <i class="icon-backup-vault"></i>
                <h2 class="subtitle grey-text text-darken-2">Segurança e Integridade dos Dados</h2>
                <p class="big-text">Além de possuirmos uma política de backup frequente, replicamos os dados dos sites em múltiplas regiões geográficas, ou seja, é impossível ocorrer perda de informações.</p>
            </div>
        </div>
    </div>
</div>
