<div id="recursos" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="super-title center">
                    A melhor plataforma,
                    <br>
                    <span>com os melhores recursos</span>
                </h1>
            </div>
        </div>
        <div id="painel-de-controle-intuitivo" class="row recursos-item scrollspy">
            <div class="col s12 m4 center">
                <img src="/images/recursos/painel-de-controle.png" alt="" />
            </div>
            <div class="col s12 m8">
                <h2 class="subtitle center grey-text text-darken-2 large-left">Painel de Controle Intuitivo</h2>
                <p class="big-text center large-left">Nosso Painel de Controle foi projetado para ser utilizado apenas pelos administradores do website, diferente de outras soluções que misturam funções de desenvolvedor na interface. Isso nos permitiu desenvolver uma interface <strong>simples e extremamente intuitiva.</strong></p>
            </div>
        </div>
        <div id="componentes" class="row recursos-item scrollspy">
            <div class="col s12 m8 hide-on-small-and-down">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Componentes</h2>
                <p class="big-text center large-right">Websites são compostos por páginas que são compostas por componentes, como portfolios, galerias, agendas, blogs, entre muitos outros. A organização do conteúdo dinâmico dessa forma é o que possibilita total <strong>liberdade para criação</strong> de qualquer tipo de website. Sem gambiarras.</p>
            </div>
            <div class="col s12 m4 center">
                <img src="/images/recursos/widgets.png" alt="" />
            </div>
            <div class="col s12 m8 hide-on-med-and-up">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Componentes</h2>
                <p class="big-text center large-right">Websites são compostos por páginas que são compostas por componentes, como portfolios, galerias, agendas, blogs, entre muitos outros. A organização do conteúdo dinâmico dessa forma é o que possibilita total <strong>liberdade para criação</strong> de qualquer tipo de website. Sem gambiarras.</p>
            </div>
        </div>
        <div id="redes-sociais" class="row recursos-item scrollspy">
            <div class="col s12 m4 center">
                <img src="/images/recursos/redes-sociais.png" alt="" />
            </div>
            <div class="col s12 m8">
                <h2 class="subtitle center grey-text text-darken-2 large-left">Redes Sociais</h2>
                <p class="big-text center large-left">Além de possuir componentes com funções específicas, como álbum do Instagram, lista de vídeos do Youtube, entre outros, a <strong>Plataforma Kreato</strong> já está <strong>preparada para se comunicar com as APIs das principais redes sociais.</strong> Ou seja, podemos desenvolver soluções exclusivas para os seus projetos. Já imaginou uma ação promocional envolvendo hashtags do Instagram ou seções do website que apareçam apenas para fans de uma Fan Page do Facebook? A criatividade é o limite!</p>
            </div>
        </div>
        <div id="banco-de-dados-flexivel" class="row recursos-item scrollspy">
            <div class="col s12 m8 hide-on-small-and-down">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Banco de Dados Flexível</h2>
                <p class="big-text center large-right">Projetado com a metodologia EAV (<a href="https://en.wikipedia.org/wiki/Entity%E2%80%93attribute%E2%80%93value_model" target="_blank" title="EAV">Entity Attribute Value</a>), nosso sistema permite modelagens de dados diferentes para cada projeto. Isso nos permite <strong>atender necessidades específicas de processamento de dados.</strong></p>
            </div>
            <div class="col s12 m4 center">
                <img src="/images/recursos/database.png" alt="" />
            </div>
            <div class="col s12 m8 hide-on-med-and-up">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Banco de Dados Flexível</h2>
                <p class="big-text center large-right">Projetado com a metodologia EAV (<a href="https://en.wikipedia.org/wiki/Entity%E2%80%93attribute%E2%80%93value_model" target="_blank" title="EAV">Entity Attribute Value</a>), nosso sistema permite modelagens de dados diferentes para cada projeto. Isso nos permite <strong>atender necessidades específicas de processamento de dados.</strong></p>
            </div>
        </div>
        <div id="sistema-de-pagamento" class="row recursos-item scrollspy">
            <div class="col s12 m4 center">
                <img src="/images/recursos/sistema-de-pagamento.png" alt="" />
            </div>
            <div class="col s12 m8">
                <h2 class="subtitle center grey-text text-darken-2 large-left">Sistema de Pagamento Online</h2>
                <p class="big-text center large-left">Apesar de ainda não possuírmos uma solução completa de E-Commerce, nossa plataforma já é <strong>integrada com serviços de pagamento online</strong>, como PagSeguro, Paypal e MOIP. Você pode, por exemplo, gerenciar as mensalidades de um serviço online ou offline, criar uma área restrita do website apenas para assinantes ou até mesmo criar um pequeno comércio online.</p>
            </div>
        </div>
        <div id="sistema-de-template" class="row recursos-item scrollspy">
            <div class="col s12 m8 hide-on-small-and-down">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Sistema de Template</h2>
                <p class="big-text center large-right">Diferentes de outras plataformas onde os arquivos de templates são uma mistura de html e códigos de programação, no nosso sistema de template, esses arquivos são compostos por html puro que invocam os componentes através de classes css. <strong>Isso agiliza o desenvolvimento e elimina uma série de possíveis erros de programação, inclusive falhas de segurança.</strong></p>
            </div>
            <div class="col s12 m4 center">
                <img src="/images/recursos/template.png" alt="" />
            </div>
            <div class="col s12 m8 hide-on-med-and-up">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Sistema de Template</h2>
                <p class="big-text center large-right">Diferentes de outras plataformas onde os arquivos de templates são uma mistura de html e códigos de programação, no nosso sistema de template, esses arquivos são compostos por html puro que invocam os componentes através de classes css. <strong>Isso agiliza o desenvolvimento e elimina uma série de possíveis erros de programação, inclusive falhas de segurança.</strong></p>
            </div>
        </div>
        <div id="white-label" class="row recursos-item scrollspy">
            <div class="col s12 m4 center">
                <img src="/images/recursos/white-label.png" alt="" />
            </div>
            <div class="col s12 m8">
                <h2 class="subtitle center grey-text text-darken-2 large-left">White Label</h2>
                <p class="big-text center large-left">Oferecemos a opção <a href="https://en.wikipedia.org/wiki/White-label_product" target="_blank" title="White Label">White Label</a>, na qual <strong>substituímos as logomarcas da nossa plataforma pela da sua agência ou cliente</strong> (ex: logo na tela de login, logo do Painel de Controle, etc) agregando ainda mais valor à sua venda e claro à sua empresa.</p>
            </div>
        </div>
        <div id="sistema-de-estatisticas" class="row recursos-item scrollspy">
            <div class="col s12 m8 hide-on-small-and-down">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Sistema de Estatísticas</h2>
                <p class="big-text center large-right">Seus clientes poderão monitorar o número de visitas ao website em um determinado período, quais navegadores e dispositivos estão sendo usados para o acesso, de quais regiões são os visitantes e muito mais, tudo pelo próprio Painel de Controle do site. Além disso, este sistema também pode ser customizado para gerar estatísticas e gráficos para dados específicos de um projeto.</p>
            </div>
            <div class="col s12 m4 center">
                <img src="/images/recursos/stats.png" alt="" />
            </div>
            <div class="col s12 m8 hide-on-med-and-up">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Sistema de Estatísticas</h2>
                <p class="big-text center large-right">Seus clientes poderão monitorar o número de visitas ao website em um determinado período, quais navegadores e dispositivos estão sendo usados para o acesso, de quais regiões são os visitantes e muito mais, tudo pelo próprio Painel de Controle do site. Além disso, este sistema também pode ser customizado para gerar estatísticas e gráficos para dados específicos de um projeto.</p>
            </div>
        </div>
        <div id="kreato-drive" class="row recursos-item scrollspy">
            <div class="col s12 m4 center">
                <img src="/images/recursos/drive.png" alt="" />
            </div>
            <div class="col s12 m8">
                <h2 class="subtitle center grey-text text-darken-2 large-left">Kreato Drive</h2>
                <p class="big-text center large-left">Com o Kreato Drive seus clientes contarão com uma <strong>solução completa para compartilhar pastas e arquivos em nuvem</strong>, assim como gerenciar os usuários e suas devidas permissões de acesso. Tudo rápido e fácil em uma interface bem intuitiva.</p>
            </div>
        </div>
        <div id="multi-idioma" class="row recursos-item no-margin-bot scrollspy">
            <div class="col s12 m8 hide-on-small-and-down">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Multi Idioma</h2>
                <p class="big-text center no-margin-bot large-right">A <strong>Plataforma Kreato</strong> oferece uma forma extremamente simples para construir templates com conteúdos e/ou componentes que precisam ser exibidos em múltiplos idiomas.</p>
            </div>
            <div class="col s12 m4 center">
                <img src="/images/recursos/multi-idioma.png" alt="" />
            </div>
            <div class="col s12 m8 hide-on-med-and-up">
                <h2 class="subtitle center grey-text text-darken-2 large-right">Multi Idioma</h2>
                <p class="big-text center no-margin-bot large-right">A <strong>Plataforma Kreato</strong> oferece uma forma extremamente simples para construir templates com conteúdos e/ou componentes que precisam ser exibidos em múltiplos idiomas.</p>
            </div>
        </div>
    </div>
</div>
