<div id="como-trabalhamos" class="section" data-parallax="scroll" data-speed="0.65" data-image-src="../.static/images/hook-bg-6.jpg">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="lead-title white-text center no-margin-top">Como Trabalhamos</h1>
            </div>
        </div>
        <div class="row no-margin-bot">
            <div class="col s12 m6 l4 center">
                <div class="icon-box-wrapper">
                    <i class="fa fa-file-powerpoint-o"></i>
                    <h2 class="subtitle white-text">Projeto</h2>
                    <p>Conversamos sobre as necessidades do projeto, sugerimos as melhores formas de atênde-las e elaboramos uma proposta comercial para aprovação.</p>
                </div>
            </div>
            <div class="col s12 m6 l4 center">
                <div class="icon-box-wrapper">
                    <i class="fa fa-code"></i>
                    <h2 class="subtitle white-text">Desenvolvimento</h2>
                    <p>Desenvolvemos o site em nossa plataforma, testamos em diversos dispositivos e navegadores diferentes e você acompanha tudo através de uma URL temporária.</p>
                </div>
            </div>
            <div class="col s12 m6 l4 center">
                <div class="icon-box-wrapper no-pad-bot">
                    <i class="fa fa-eye"></i>
                    <h2 class="subtitle white-text">Apresentação</h2>
                    <p class="no-margin-bot">Apresentamos a primeira versão do website para aprovação e implementamos, quando necessário, as modificações solicitadas.</p>
                </div>
            </div>
        </div>
    </div>
</div>
