<div id="landing-home" class="section first">
    <div class="container">
        <h1 class="super-title center no-margin-top">
            Liberte-se.
            <br>
            <span>Fornecemos o melhor Desenvolvimento Web para Agências e Designers Autônomos.</span>
        </h1>

        <div class="row center intro-description">
            <p class="col s12 big-text bold">A Kreato desenvolveu uma plataforma robusta e flexível para atender qualquer exigência com maestria. Nossa parceria será tão boa para você quanto para seus clientes.</h5>
        </div>
        <div class="row center no-margin-bot">
            <div class="col s12">
                <a href="/plataforma" class="btn-large btn-large-2 waves-effect waves-light">Conheça Mais</a>
            </div>
            <div class="col s12">
                <a href="/contato" class="btn-large">Fale Conosco</a>
            </div>
        </div>
    </div>
</div>
