<div id="testimonials" class="section">
    <div class="container">
        <ul class="rslides">
            <li>
                <div class="row no-margin-bot">
                    <div class="col s12">
                        <p class="author-quote center">
                            <i class="fa fa-quote-left grey-text"></i> &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil sed dolores facere magnam aut animi facilis,
                            beatae itaque quod! &nbsp;
                            <i class="fa fa-quote-right grey-text"></i>
                        </p>
                    </div>
                    <div class="col s12 author-profile center">
                        <img class="z-depth-1" src="http://placehold.it/100x100" alt="">
                        <div class="name"><i class="fa fa-user"></i>&nbsp;&nbsp;Jair Altoé</div>
                        <div class="company grey-text">Nome da Empresa</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row no-margin-bot">
                    <div class="col s12">
                        <p class="author-quote center">
                            <i class="fa fa-quote-left grey-text"></i> &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, sequi. &nbsp;
                            <i class="fa fa-quote-right grey-text"></i>
                        </p>
                    </div>
                    <div class="col s12 author-profile center">
                        <img class="z-depth-1" src="http://placehold.it/100x100" alt="">
                        <div class="name"><i class="fa fa-user"></i>&nbsp;&nbsp;Victor Kill</div>
                        <div class="company grey-text">Nome da Empresa</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row no-margin-bot">
                    <div class="col s12">
                        <p class="author-quote center">
                            <i class="fa fa-quote-left grey-text"></i> &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, sequi. &nbsp;
                            <i class="fa fa-quote-right grey-text"></i>
                        </p>
                    </div>
                    <div class="col s12 author-profile center">
                        <img class="z-depth-1" src="http://placehold.it/100x100" alt="">
                        <div class="name"><i class="fa fa-user"></i>&nbsp;&nbsp;Raquel Rampon</div>
                        <div class="company grey-text">Nome da Empresa</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
