<div id="porque-kreato" class="section grey-bg scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="lead-title center no-margin-top">Porque Desenvolver Conosco?</h1>
            </div>
            <!--A Plataforma Ideal-->
            <div class="col s12 m12 l5">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><i class="fa fa-cubes grey-text"></i> A Plataforma Ideal</span>
                        <p>Levamos desenvolvimento web tão a sério que construímos nossa própria plataforma para criação, gerenciamento e hospedagem de websites. Sim, conhecemos o Wordpress, Joomla e diversos outros, mas nenhum nos possibilitava entregar o melhor para nossos clientes, pois não atendiam a algumas de nossas expectativas.</p>
                    </div>
                    <div class="card-action">
                        <a href="/plataforma">Saiba Mais</a>
                    </div>
                </div>
            </div>
            <!--Hospedagem Perfeita-->
            <div class="col s12 m12 l7">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><i class="fa fa-cloud grey-text"></i> Hospedagem Perfeita</span>
                        <p>Nossa plataforma foi construída no modelo SaaS (<a href="https://pt.wikipedia.org/wiki/Software_como_servi%C3%A7o" target="_blank" title="Software as a Service">Software as a Service</a>), onde o fornecedor se responsabiliza por toda a estrutura necessária para a disponibilização e manutenção do sistema, como backup, segurança dos dados, velocidade de carregamento dos sites, banco de dados, atualizações diversas dos softwares utilizados nos sites, atualizações da plataforma, atualizações do Painel de Controle, otimização de performance dos servidores, etc.</p>
                    </div>
                    <div class="card-action">
                        <a href="/plataforma#datacenter">Saiba Mais</a>
                    </div>
                </div>
            </div>
            <!--Desenvolvimento Profissional-->
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><i class="fa fa-code grey-text"></i> Desenvolvimento Profissional</span>
                        <p>Seus projetos serão executados pela mesma equipe que projetou e desenvolveu a plataforma. Isso significa que dominamos as tecnologias com as quais trabalhamos e qualquer necessidade especial do seu projeto será atendida com maestria. Pense como se sua agência estivesse contratando os criadores do Wordpress para desenvolver um site para o seu cliente.</p>
                    </div>
                </div>
            </div>
            <!--Custo-->
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><i class="fa fa-usd grey-text"></i> Custo</span>
                        <p>Uma das vantagens da utilização do modelo SaaS é o uso mais eficiente dos recursos de datacenter, como servidores e conexões de internet. Isso reduz nosso custo interno e nos permite cobrar preços de fornecedor para nossos parceiros que ficam livres para estipular o preço final para seus clientes.</p>
                    </div>
                </div>
            </div>
            <!--White Label-->
            <div class="col s12 m6">
                <div class="card no-margin-bot">
                    <div class="card-content">
                        <span class="card-title"><i class="fa fa-bookmark-o grey-text"></i> White Label</span>
                        <p>Oferecemos a opção <a href="https://en.wikipedia.org/wiki/White-label_product" target="_blank" title="White Label">White Label</a>, na qual substituímos as logomarcas da nossa plataforma pela da sua agência (ex: logo na tela de login, logo do Painel de Controle, etc), agregando ainda mais valor à sua venda, e claro, à sua empresa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
