<x-wrap>
    <div class="hide-on-med-and-down">
        <div class="pinned-left">
            <ul class="table-of-contents">
                <li><a href="#introducao">Introdução</a></li>
                <li><a href="#historia">História</a></li>
                <li><a href="#recursos">Recursos</a></li>
                <!-- <div class="submenu">
                    <li><a href="#painel-de-controle-intuitivo">Painel de Controle Intuitivo</a></li>
                    <li><a href="#componentes">Componentes</a></li>
                    <li><a href="#redes-sociais">Redes Sociais</a></li>
                    <li><a href="#banco-de-dados-flexivel">Banco de Dados Flexível</a></li>
                    <li><a href="#sistema-de-pagamento">Sistema de Pagamentos</a></li>
                    <li><a href="#sistema-de-template">Sistema de Template</a></li>
                    <li><a href="#white-label">White Label</a></li>
                    <li><a href="#sistema-de-estatisticas">Sistema de Estatísticas</a></li>
                    <li><a href="#kreato-drive">Kreato Drive</a></li>
                    <li><a href="#multi-idioma">Multi Idioma</a></li>
                </div> -->
                <li><a href="#hospedagem">Hospedagem</a></li>
            </ul>
        </div>
    </div>
    <!--INTRODUÇÃO-->
    <x-include template="sections/plataforma/introducao"></x-include>

    <!--HISTÓRIA-->
    <x-include template="sections/plataforma/historia"></x-include>

    <!--RECURSOS-->
    <x-include template="sections/plataforma/recursos"></x-include>

    <!--HOSPEDAGEM-->
    <x-include template="sections/plataforma/hospedagem"></x-include>
</x-wrap>
